.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform.lock.hcl
.DS_Store
terraform.tfvars
*.pem
*.key

invitime-account.json
.env
.env.aws

